@model Ad;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Domain.Models.User> SignInManager
@inject UserManager<Domain.Models.User> UserManager

<input type="hidden" id="AdId" value="@Model.Id" />
<div>
  
    <div class="MainContext">
        <div class="SideLeft">
            <img class="Icon" src="@Model.PathImg">
        </div>
        <div class="SideRight">
            <p>Ad data:</p>
            <p>Title:@Model.Name</p>
            <p>Price:@Model.Price</p>
            <p>City: @Model.City.Name</p>

            <hr />

            <p>User data:</p>
            <label>UserName:</label>
            <p>@Model.User.UserName</p>

            <label>PhoneNumber:</label>
            <p>@Model.User.PhoneNumber</p>

            <a href="~/Profile/Index/@Model.UserId">User Profile</a>
        </div>
    </div>

    <hr />

    <div class="Discription">
        <label>Content:</label>
        <p>@Model.Content</p>
    </div>
</div>

@{
    if (SignInManager.IsSignedIn(User))
    {
    <hr />
    <div>
                    <textarea id="commentText"></textarea>
                    <button id="btnAddComment" disabled>AddComment</button>
    </div>
    }
}

<div class="ListComment" id="listComment">
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/AdDetails.css" asp-append-version="true" />
}


    @section Scripts{
    <script>
        $(function () {

            Get();

            $("#commentText").on("input", function () {
                if ($("#commentText").val().length > 0) {
                    $("#btnAddComment").removeAttr("disabled");
                }
                else {
                    $("#btnAddComment").attr("disabled", "disabled")
                }

            });

            $("#btnAddComment").on("click", function () {
                Add();
            });

        });

        function Get() {
            $.ajax({
                url: "../../api/ApiComment/" + $("#AdId").val(),
                type: "GET",
                success: function (data) {
                    $("#listComment").html("");
                    for (var i = 0; i < data.length; i++) {
                        $("#listComment").append("<div>" +
                            "<p>User:" + data[i].user.userName + "</p>" +
                            "<p>DateCreate:" + data[i].dateCreate + "</p>" +
                            "<p>Content:" + data[i].content + "</p>" +
                            "</div>");
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function Add() {
            var comment = new Object;
            comment.Content = $("#commentText").val();
            comment.AdId = $("#AdId").val();

            $.ajax({
                url: "../../api/ApiComment",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(comment),
                success: function (data) {
                    $("#commentText").val("");
                    $("#btnAddComment").attr("disabled", "disabled");
                    Get();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

    </script>
}