@model IEnumerable<Ad>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .MainContener {
        width: 100%;
    }

</style>


<div id="Filter" style="height: 32px;">
    <div class="ListCategory">
        <ul class='Nav'>
            <li>
                <a id="categoryName">Category</a>
                <ul id="n0">
                    <li><a val="-1">AllCategory</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="ListCity">
        <ul class='Nav'>
            <li>
                <a id="cityName">City</a>
                <ul id="listCity">
                    <li><a val="-1">AllCity</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="MainContener">

    <div id="listAd" class="ListAd">

        @{
            foreach (var item in Model)
            {
                <form class="InputPageMovie" method="get" action="@Url.Action("AdDetails", "Home")">
                    <input type="hidden" name="id" value='@item.Id' />
                    <div class="Ad" onclick="this.parentNode.submit();">
                        <img src="@item.PathImg" style="width: 80px;">
                        <div class="AddContent">
                            <h4 style="margin: auto;">@item.Name</h4>
                            <p style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;font-size: 12px;">@item.Content</p>
                        </div>
                        <p style="color: forestgreen; font-size: 16px;">@item.Price $</p>
                    </div>
                </form>
            }
        }

    </div>

</div>

@section Scripts{
    <script src="~/js/site.js"></script>
}