@model User;
@{
    ViewData["Title"] = Model.UserName;
}

@section Styles{
    <link rel="stylesheet" href="~/css/Profile.css" />
}
<h4 style="text-align: center; color: red;">@ViewBag.Error</h4>

<div class="MainContener">
        <input type="hidden" id="UserID" value="@Model.Id" />
        <div class="Icon">
            <img class="UserIcon" src="../../@Model.IconPath">
        <a asp-action="UpdateProfile" asp-controller="Profile">
            <img class="EditIcon" src="../../img/edit.png" />
        </a>
    </div>
    <div class="RightData">
        <div class="UserData">

            <label>Name:</label>
            <p>@Model.UserName</p>

            <label>Surname:</label>
            <p>@Model.Surname</p>

            <label>Email:</label>
            <p>@Model.Email</p>


        </div>
        <a asp-controller="Profile" asp-action="AddNewAd">AddNew</a>
    </div>
</div>

<div class="BtnMenu">
    <button id="getMyAds" style="background: lightgrey;">Ads</button>
    <button id="getMyFavorites">FavoritesAds</button>
</div>

<div id="listAds" class="ListAd">
</div>


@section Scripts{
    <script src="~/js/Profile/OperationOnAds.js"></script>
    <script src="~/js/Profile/Profile.js"></script>
    <script>

        $(function(){

            $("#getMyAds").on("click", function () {
                GetUserAds(false);

                $(this).css("background", "lightgrey");
                $("#getMyFavorites").css("background", "white");
            });
            $("#getMyFavorites").on("click", function(){
                GetFavouriteAds();

                $(this).css("background", "lightgrey");
                $("#getMyAds").css("background", "white");
            })

            GetUserAds(false);
        });
    </script>
}
