@model User;
@{
    ViewData["Title"] = Model.UserName;
}

@section Styles{
    <link rel="stylesheet" href="~/css/Profile.css" />
}
<h4 style="text-align: center; color: red;">@ViewBag.Error</h4>

    <div class="MainContener">
        <input type="hidden" id="UserID" value="@Model.Id" />
        <div class="Icon">
            <img class="UserIcon" src="../../@Model.IconPath">
        @if (!ViewBag.IsPublicProfile)
        {
            <a asp-action="UpdateProfile" asp-controller="Profile">
                <img class="EditIcon" src="../../img/edit.png" />
            </a>
        }
    </div>
    <div class="RightData">
        <div class="UserData">

            <label>Name:</label>
            <p>@Model.UserName</p>

            <label>Surname:</label>
            <p>@Model.Surname</p>

            <label>Email:</label>
            <p>@Model.Email</p>


        </div>
        @if (!ViewBag.IsPublicProfile)
        {
            <a asp-controller="Profile" asp-action="AddNewAd">AddNew</a>
        }
    </div>
</div>

<div id="userAds" class="ListAd">
</div>


@section Scripts{
    <script src="~/js/Profile/OperationOnAds.js"></script>
    <script src="~/js/Profile/Profile.js"></script>


    @if (ViewBag.IsPublicProfile)
    {
        <script>
            $(function () {
                GetUserAds(false);
            });
        </script>
    }
    else{
        <script>
            $(function () {
                GetUserAds(true);
            });
        </script>
    }


}
