@model User;
@{
    ViewData["Title"] = Model.UserName;
}

<form asp-action="UpdateProfile" asp-controller="Profile" method="post" enctype="multipart/form-data">

    <input type="hidden" value="@Model.Id" name="Id"/>

    <div style="display:inline-grid;">

        <label>Name:</label>
        <input type="text" value="@Model.UserName" name="UserName" />
        <label>Surname:</label>
        <input type="text" value="@Model.Surname" name="Surname" />


        <label>Icon:</label>
        <input type="file" name="file" accept="image/*" />

        <label>listCity:</label>
        <select name="CityName" id="listCity">
        </select>

        <label>
            Condent to send Emails: <input type="checkbox" id="mailing" value="@Model.IsMailing" name="IsMailing" />
        </label>
       

        <button type="submit">Save</button>
    </div>

</form>


@section Scripts{
    <script src="~/js/Profile/OperationOnAds.js"></script>
    <script>
        $(function () {
            GetCity('@Model.CityName');
            $("#mailing").prop('checked', @Model.IsMailing.ToString().ToLower());

        });
        $("#mailing").on("click", function () {
            if ($(this).val() == "false") {
                $("#mailing").val(true);
                $("#mailing").prop('checked', true);
            }
            else {
                $("#mailing").val(false);
                $("#mailing").prop('checked', false);
            }
        });
    </script>
}